@media (max-width: 500px) {
    .cookies {
        left: 20px;
        right: 20px;
        bottom: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .btn {
            width: calc(100% + 30px);
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    .btn {
        width: 100%;

        &-transparent {
            width: 100%;
        }
    }

    .main-platform {
        &__desktop {
            padding-bottom: 250px;
            background: var(--blue) url(../images/main-platform-bg-mobile.avif) center bottom / cover no-repeat;
        }

        &__mobile {
            background: var(--white) url(../images/main-platform-mobile-mobile.avif) center bottom / 100% no-repeat;
        }

        &__btns {
            .btn {
                width: 100%;
            }
        }
    }

    .footer {
        background: url(../images/footer-mobile.avif) left top / cover no-repeat;

        &__left {
            display: flex;
            flex-direction: column;
        }
    }

    form .relative {
        position: relative;
    }

    .wpcf7-spinner {
        position: absolute !important;
        top: 55px !important;
        right: 10px !important;
        margin: 0 !important;
    }
}