@media (max-width: 768px) {
    .main-hero {
        h1 {
            max-width: 361px;
            margin: 0 auto 16px;

            &+p {
                max-width: 361px;
                margin: auto;
            }
        }

        &__list {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        &__container {
            width: 100%;
        }

        &__top {
            width: 100%;
            text-align: center;
        }

        &__btns {
            margin-top: 24px;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;

            .btn {
                margin: 0;
            }
        }
    }

    h1,
    .h1 {
        font-size: 32px;
    }

    h2,
    .h2 {
        font-size: 24px;
    }

    h3,
    .h3 {
        font-size: 18px;
    }

    .text {
        font-size: 16px;
    }

    .btn {
        margin-top: 24px;
    }

    .main-why {
        &__container {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &__title-box {
            text-align: center;
        }

        &__item {
            min-height: 220px;
            padding-top: 24px;
            padding-left: 16px;
            padding-right: 16px;
        }

        &__white-box {
            grid-column: initial;
        }
    }

    .main-start {
        h2 {
            margin-bottom: 32px;
            text-align: center;
        }

        &__list {
            padding: 27px 16px;
            background: var(--blue);

            h3 {
                margin-bottom: 10px;
            }
        }
    }

    .main-choose {
        h2 {
            margin-bottom: 32px;
            text-align: center;
        }

        &__item {
            padding: 24px 16px;
            gap: 38px;

            .btn {
                margin: 0;

                &-transparent {
                    margin: 0;
                }
            }
        }
    }

    .main-platform {
        &__content {
            text-align: center;
        }

        &__white-box {
            padding: 24px 16px;
            flex-direction: column;
        }

        &__blue-box {
            padding: 24px 16px;
            flex-direction: column;
        }

        &__desktop {
            padding-bottom: 200px;
            background-size: auto 270px;
        }

        &__mobile {
            padding: 24px 16px 217px;
            gap: 24px;
            flex-direction: column;

            &::before {
                height: 80px;
            }
        }

        &__btns {
            align-items: start;

            .btn {
                width: auto;
            }
        }
    }

    .main-widgets {
        &__content {
            text-align: center;
        }
    }

    .widget-box {
        padding: 10px;
    }

    .main-about {
        &__container {
            display: flex;
            flex-direction: column;
        }

        &__content {
            text-align: center;
        }

        img {
            max-width: 480px;
            margin: auto;
        }

        .btn {
            margin-top: 36px;
        }
    }

    .main-what {
        &__content {
            text-align: center;
        }

        &__item {
            padding: 24px 16px;
        }
    }

    .main-contacts {
        &__container {
            display: flex;
            flex-direction: column;
            padding: 40px 16px;
        }

        h2 {
            text-align: center;

            &+p {
                max-width: 100%;
                text-align: center;
            }
        }
    }

    .wpcf7-acceptance {
        label {
            span {
                font-size: 16px;
            }
        }
    }

    .footer {
        background-size: cover;
        background-position: left top;

        .container {
            padding-top: 80px;
            padding-bottom: 90px;
        }

        &__logo {
            width: 317px;
            height: 65px;
            margin-bottom: 30px;
        }

        &__list {
            display: flex;
            flex-direction: column;
        }
    }
}