@media (min-width: 1200px) {
    .header {
        .menu {
            &>.menu-item {
                &>a {
                    &:hover {
                        color: var(--hover);
                    }
                }
            }
        }

        &.scrolled {
            .header__logo {
                &:hover {
                    path {
                        fill: var(--black);
                    }
                }
            }

            .menu {
                &>.menu-item {
                    &>a {
                        &:hover {
                            color: var(--black);
                        }
                    }
                }
            }
        }
    }

    .footer {
        &__logo {
            &:hover {
                path {
                    fill: var(--hover);
                }
            }
        }

        .menu {
            &>.menu-item {
                &>a {
                    &:hover {
                        color: var(--hover);
                    }
                }
            }
        }

        &__docs {
            a {
                &:hover {
                    color: var(--hover);
                }
            }
        }
    }

    .btn {
        &:hover {
            background: var(--hover);
        }

        &-transparent {
            &:hover {
                color: var(--hover);
                background: var(--white);
            }
        }
    }

    .main-start {
        .container {
            position: relative;

            &::before {
                z-index: -1;
                content: '';
                position: absolute;
                top: -685px;
                left: -572px;
                background: url(../images/line.avif) center / contain no-repeat;
                width: 828px;
                height: 1166px;
            }
        }
    }

    .main-contacts {
        .container {
            position: relative;

            &::before {
                z-index: -1;
                content: '';
                position: absolute;
                top: 98px;
                left: -600px;
                background: url(../images/line.avif) center / contain no-repeat;
                width: 828px;
                height: 1166px;
            }
        }

        a {
            &:hover {
                color: var(--black);
            }
        }
    }

    .main-why {
        &__container {
            grid-template-columns: 280px 34px 126px 280px 1fr;
            grid-template-rows: 44px 217px 95px 124px 188px 332px;
        }

        &__title-box {
            grid-column: 1/3;
            grid-row: 1/3;
        }

        &__secure {
            grid-column: 5/6;
            grid-row: 1/5;
        }

        &__fast {
            grid-column: 4/5;
            grid-row: 2/4;
        }

        &__support {
            grid-column: 1/5;
            grid-row: 4/6;
        }

        &__powerful {
            grid-column: 1/2;
            grid-row: 6/7;
        }

        &__resources {
            grid-column: 2/5;
            grid-row: 6/7;
        }

        &__fees {
            grid-column: 5/6;
            grid-row: 5/7;
        }
    }
}