<footer class="footer">
    <div class="container">
        @@include('menu.html')
    </div>
</footer>

<!-- <div class="upButton"></div> -->

<svg class="upButton" width="800" height="800" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#fff"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 18V2m0 0 7 7m-7-7L3 9"/></svg>

<div class="cookies">
    <p class="cookies__info">We use cookies to learn more about how you use our website and what we can improve.</p>
    <button class="btn cookies--close">Accept</button>
</div>

<script defer src="js/main.min.js"></script>

</body>

</html>